<p id="notice"><%= notice %></p>

<h1><%  @gallery.name %> Collections</h1>
<% if @collections.count > 0 %>
  <ul>
    <% @collections.each do |collection| %>
    <li>
      <% item = Item.find(collection.thumbnail) %>
      <%= link_to (image_tag(item.image.url(:thumb))), collection_path(collection.id, item.id), title: "image thumb", class: "image" %>
      <%= link_to collection.name, collection_path(collection.id, item.id), title: collection.name %></td>
      </li>
    <% end %>
  </ul>
<% else %>
  No collections added yet
<% end %>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Collection', new_gallery_collection_path %>
<% end %>
