<% if @archived_galleries %>
  <h1 class="clear">** Archived **</h1>
    <ul>
      <% @archived_galleries.each do |gallery| %>
      <li>
        <%= gallery.name  %>
        <%= link_to 'edit', edit_gallery_path(gallery) %>

      </li>
      <% end %>
    </ul>

<% else %>
  <h1 class="clear">There aren't any archived galleries.</h1>
<% end %>
<br />
<%= link_to 'Back', galleries_path %>
