<%= @status %>
<%= @id %>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <h1 class="home-header">Mark Einert</h1>
  </div>
</div>

<div class="row smaller">
  <div class="col-sm-12 col-md-3">
    <ul id="main-galleries">
      <% @galleries.each do |gallery|  %>
        <li class="item">
          <%= link_to gallery.name, gallery_collections_path(gallery.id), title: 'gallery' %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
  </div>
</div>
<a href="<%= new_user_session_path %>"><div class="sign-in"></div></a>
