<h1>Mark Einert</h1>
<%= @status %>
<%= @id %>
<% @galleries.each do |gallery|  %>
  <ul id="main-galleries">
    <li>
      <%= link_to gallery.name, gallery_collections_path(gallery.id), title: 'gallery' %>
    </li>
  </ul>
<% end %>
