
<ul>
  <% @collections.each do |collection| %>
  <li>
    <%= link_to collection.name, collection %>
  </li>
  <% end %>
</ul>

link to: UN-Archive  (action not yet created)

<br />
<br />
<% if user_signed_in? %>
  <%= link_to 'Archived galleries', archived_gallery_path %>
<% end %>
