 @import "bootstrap-sprockets";
 @import "bootstrap";

$btn-color: rgba(100, 100, 100, 1);
$gray-light: #CBCBCB;
$gray-lighter: #ecf0f1;
$gray-dark: #383636;

body {
	font-family: Futura;
  color: $gray-dark;
  font-size: 2em;
	padding-top: 50px;
	padding-bottom: 100px;
}

a {
  // font-color: ;
}
.header {
	background-color: #676767;
}

.links {
	color: white;
	font-size: 20px;
}

.item {
	list-style-type: none;
	padding-bottom: 10px;
}

.btn-custom {
	background: $gray-light;
	box-shadow: 2px 2px 1px $btn-color;
}

.btn-custom:hover, .btn-custom:focus {
	box-shadow: 4px 4px 2px $btn-color;
}

.item-image:hover, .item-image:focus {
	box-shadow: 4px 4px 1px #84A9C0;
}

.img-caption {
	padding-top: 5px;
	margin-top: 10px;
}

#gallery {
	background-color: $gray-lighter;
	padding: 10px 20px 20px 40px;
	margin: 10px;
	box-shadow: 2px 2px 1px $btn-color;
	ul {
		list-style-type: none;
	}
  li {
    line-height: 200%;

  }
}

.chosen_thumbnail {
  background-color: $gray-light;
	border-style: solid;
	border-color: $gray-light;
}

.caption {
	padding-left: 5px;
	font-size: .8em;
}

.top {
  margin-bottom: 50px;
}

// .artwork .carousel-inner .item {
//   height: 800px;
//   width: 100%;
// }

.carousel-inner {
  .item {
    img {
        margin: 0 auto;
    }
  }
}
