 @import "bootstrap-sprockets";
 @import "bootstrap";

$btn-color: #646464;

$gray-light: #989898;
$gray-lighter: #D3D9DF;
$gray-dark: #565656;
$dusty-blue: #004489;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Futura;
  color: $gray-dark;
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 120px;
}

.navbar-header {
  background-color: $gray-dark;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar, .navbar-default, .navbar-collapse {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.home-header {
  color: $gray-lighter;
  font-size: 3em;
  opacity: .9;
  text-align: left;
}

.home-image {
  background-image: url("https://s3-us-west-1.amazonaws.com/fh-artist-site/images/cover2-1440-990.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.inline {
  display: inline-block;
}

.links {
  color: $gray-dark;
  font-size: 20px;
  margin-left: 15px;
}

.item {
  list-style-type: none;
  padding-bottom: 10px;
}

.img-responsive {
  margin: auto;
}

.center-block {
  text-align: center;
}

#main-galleries {
  margin-top: 200px;
  font-size: 2em;
  .item {
    text-align: left;
  }
  a {
    color: $gray-light;
  }
}

.btn-custom {
  box-shadow: 2px 2px 1px $btn-color;
}

.btn-custom:hover, .btn-custom:focus {
  box-shadow: 4px 4px 2px $btn-color;
}

.btn {
  border: 1px solid $dusty-blue;
  margin: 5px 5px 0px 5px;
  font-family: 'Droid Serif', serif;
  font-size: 1em;
}

.btn-header-area {
  margin-top: 35px;
  float: right;
}

.item-image:hover, .item-image:focus {
  box-shadow: 4px 4px 1px $dusty-blue;
}

.artwork {
  background-color: #000;
}

.carousel {
  margin-top: 60px;
}

.img-caption {
  padding-top: 5px;
  margin-top: 10px;
  font-size: 1.3em;
}

.edit-links {
  display: inline-block;
  margin:auto;
}

#gallery {
  background-color: $gray-lighter;
  padding: 10px 20px 20px 40px;
  margin: 10px;
  box-shadow: 2px 2px 1px $btn-color;
  ul {
    list-style-type: none;
  }
  li {
    line-height: 200%;
  }
}

.archived_galleries {
  margin-left: 20px;
}

.thumbnail img {
  min-height:200px; height:200px;
}

.chosen_thumbnail {
  background-color: $dusty-blue;
  border-style: solid;
}

.caption {
  padding-left: 5px;
  font-size: .8em;
}

.top {
  margin-bottom: 50px;
}

.carousel-inner {
  .item {
    img {
      margin: 0 auto;
    }
  }
}

.sign-in {
  width: 50px;
  height: 50px;
  bottom:0;
  position:fixed;
  right:0;
  z-index:9999;
  visibility: 'none';
  opacity: 0;
}

input {
  height: 44px;
  font-size: 22px;
  border-radius: 6px;
  margin: 7px;
  color: $gray-dark;
  .btn {
    background-color: #fff;
    color: $dusty-blue;
    border: 1px solid $dusty-blue;
    margin: 10px 5px 20px 5px;
    font-family: 'Droid Serif', serif;
  }
}

input[type=checkbox] {
  transform: scale(1.5);
  display: inline-block;
  vertical-align: middle;
  margin: -5px;
  line-height: 2;
}


label {
  line-height: 2;
  display: inline-block;
  vertical-align: middle;
}

.boolean {
  display: inline-block;
  vertical-align:middle;
}

.checkbox {
  margin-left: 30px;
}

.form-control {
  height: 44px;
  font-size: 22px;
  border-radius: 6px;
  margin: 7px;
  color: $gray-dark;
}

#new-image-form {
  margin-bottom: 20px;
}

// Devise forms
.border-form-div {
  min-width: 300px;
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid $gray-light;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


@media only all and (min-device-width: 320px) and (max-device-width: 667px) {
  body {
    font-size: 2em;
  }

  #main-galleries {
    margin-top: 10px;
  }

  .artwork {
    padding-top: 5px;
  }

  .page-header {
    text-align: center;
    width: 95%;
    margin: auto;
    h1 {
      margin-bottom: 0px;
    }
  }

  .inline {
    display:inherit;
  }

  .btn-header-area {
    float: none;
    margin-top: 0px;
  }

  .btn {
    font-size: .7em;
    border: none;
  }

  .btn-lg {
    padding: 0px;
  }

  .btn-custom {
    box-shadow: none;
  }

  ul {
    padding-left: 10px;
  }

  #gallery {
    padding-left: 10px;
  }

  .img-caption {
    padding-top: 0px;
  }

}

@media only all and (min-device-width: 668px) and (max-device-width: 1025px) {
  body {
    font-size: 2em;
    max-width: 95vw;
  }

  .artwork {
    padding-top: 5px;
  }

  .page-header {
    text-align: center;
    width: 95%;
    margin: auto;
  }

  .btn-header-area {
    float: none;
    margin-top: 0px;
    a {
      text-decoration: underline;
    }
  }

  .btn {
    font-size: .7em;
    border: none;
  }

  .btn-lg {
    padding: 0px;
  }

  .btn-custom {
    box-shadow: none;
  }

  ul {
    padding-left: 10px;
  }

  #gallery {
    padding-left: 10px;
  }

  .img-caption {
    padding-top: 0px;
  }

}

@media (max-width: 2000px) {
  .navbar-header {
    float: none;
  }

  .navbar-left,.navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display:block !important;
  }

}
