 @import "bootstrap-sprockets";
 @import "bootstrap";

$btn-color: rgba(100, 100, 100, 1);
$gray-light: #CBCBCB;

body {
	font-family: Futura;
	padding-top: 50px;
	padding-bottom: 100px;
}

.header {
	background-color: #676767;
}

.links {
	color: white;
	font-size: 20px;
}

.item {
	list-style-type: none;
}

.btn-custom {
	background: #CBCBCB;
	box-shadow: 2px 2px 1px $btn-color;
}

.btn-custom:hover, .btn-custom:focus {
	box-shadow: 4px 4px 2px $btn-color;
}

.item-image {
	box-shadow: 4px 4px 2px $btn-color;
}

.item-image:hover, .item-image:focus {
	box-shadow: 2px 2px 1px $btn-color;
}

.img-caption {
	padding-top: 10px;
	margin-top: 10px;
}

#gallery {
	background-color: $gray-light;
	padding: 10px 20px 20px 40px;
	margin: 10px;
	box-shadow: 2px 2px 1px $btn-color;
	ul {
		list-style-type: none;
	}

}







